body{
    margin:0px;
    padding:0px;
	font-family: sans-serif;
}
nav a{
    text-decoration:none;
    color:white;
}
nav a:visited{
    color:white;
}
.container{
    background: #134e5e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #134e5e, #71b280); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #134e5e, #71b280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height:100vh;
    width:100%;
}
nav{
    margin:0px;
    padding:0px;
}
nav ul{
    list-style:none;
    color:white;
    margin:0px;
    padding:10px;
    padding-left:15px;
}
.home{
    font-size:30px;
}
nav .logo{
    font-size: 16px;
}
.right{
    float:right;
    margin-top:-25px;
}
.content{
    
        width: 50%;
        text-align:center;
        margin:0 auto;
        margin-top:50px;


}
@media screen and (max-width:400px){
    .content{ width:60%;}
}


.msg{
    margin-top:50px;
    text-align: center;
    color:white;
    font-size:30px;
}
.not{
    margin-top:20px;
    text-align:center;
    color:white;
    font-size:18px;
}



t{
    color:#f5ffcb;
    font-size:23px;
}
